@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #182233;
}
body::-webkit-scrollbar {
  display: none;
}
.textnone {
  text-decoration: none;
  color: rgb(251, 251, 251);
}
